:root {
  --accent-color-hover: #82cfff;
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --heading-color: #ffffff;
  --accent-color: #4da3ff;
  --code-bg: #1e1e1e;
  --code-border: #333;
  --font-base: 'Futura', sans-serif;
}